p{
  color: darkblue;
}

h1{
    color: azure;
    background-color: darkblue;
 
    }

.img{
    height : 250px; 
    width : 350px;
    }
 .a{
    background-color: azure;
    }

h3{
    color: white;
    background-color: black;
    }